<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="PYTHON_ENABLE_DTRACE" value="0" />
        <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="entry_point" />
    </appSettings>
</configuration>
