<!DOCTYPE html>
{% extends "base.html" %} {% block title %} About Us {% endblock %} {% block
content %}
<div class="container">
  <h2 class="my-4">About Us</h2>
  <p>
    We are a team of dedicated students from Southern Arkansas University,
    committed to demonstrating the practical application of the software
    development life cycle through our project. This group was formed during the
    summer term of 2023, tasked with the development, management, and delivery
    of a robust parking reservation system.
  </p>

  <p>
    Our primary goal is to showcase the software development life cycle, from
    the planning stages, to design, implementation, testing and maintenance.
    Through this project, we aspire to put our academic knowledge into practice
    and provide a tangible solution that aligns with real-world requirements.
  </p>

  <p>
    We thank you for your interest in our project. If you need further
    information or have any questions, please feel free to
    <a href="/contact_us">contact us</a>.
  </p>
</div>
{% endblock %}
