<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Careers {% endblock %} {% block
content %}
<div class="container">
  <h2 class="my-4">Join Our Team</h2>
  <p>
    At Our Company, we are using the power of technology to transform industries
    and solve the world&#39;s biggest challenges. We believe in a future where
    every person has access to the tools and opportunities they need to make
    their biggest dreams a reality.
  </p>

  <h4 class="my-4">Open Positions</h4>

  <!-- Open Position 1 -->
  <div class="job-opening">
    <h5>Data Analyst, Requirements Specialist &amp; Team Lead</h5>
    <p>
      Help us translate data into insights, define requirements, and lead teams
      to success.
    </p>
  </div>

  <!-- Open Position 2 -->
  <div class="job-opening">
    <h5>Machine Learning Engineer</h5>
    <p>
      We are looking for a Machine Learning Engineer to help us create
      artificial intelligence products. If you have in-depth knowledge of
      machine learning and software development, we'd like to meet you.
    </p>
  </div>
</div>
{% endblock %}
