<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Contact Us {% endblock %} {% block
content %}
<div class="container">
  <h2 class="my-4">Contact Our Team</h2>
  <p>
    Got a question? We&#39;d love to hear from you. Send us a message and
    we&#39;ll respond as soon as possible.
  </p>

  <h4 class="my-4">Team Members</h4>

  <!-- Team Member 1 -->
  <div class="contact-item">
    <h5>
      Arshad, Faizan - Client&#x2F;Stakeholder &amp; Project Manager &amp;
      Product Owner
    </h5>
    <a href="mailto:afajzan3849@muleriders.saumag.edu"
      >afajzan3849&#64;muleriders.saumag.edu</a
    >
  </div>

  <!-- Team Member 2 -->
  <div class="contact-item">
    <h5>
      Galipelly, Pranay Kumar - Data Analyst, Requirements Specialist &amp; Team
      Lead
    </h5>
    <a href="mailto:pgalipelly3398@muleriders.saumag.edu"
      >pgalipelly3398&#64;muleriders.saumag.edu</a
    >
  </div>

  <!-- Team Member 3 -->
  <div class="contact-item">
    <h5>
      Gancheeri, Sai Ganesh Krishna - Scrum Master, Developer &amp; DevOps
      Engineer
    </h5>
    <a href="mailto:sgancheeri3921@muleriders.saumag.edu"
      >sgancheeri3921&#64;muleriders.saumag.edu</a
    >
  </div>

  <!-- Team Member 4 -->
  <div class="contact-item">
    <h5>Ganji, Sushanth - UI&#x2F;UX Designer &amp; Front-end Developer</h5>
    <a href="mailto:sganji4156@muleriders.saumag.edu"
      >sganji4156&#64;muleriders.saumag.edu</a
    >
  </div>

  <!-- Team Member 5 -->
  <div class="contact-item">
    <h5>
      Gannamaneni, Vamsi Krishna - Database Administrator &amp; Back-end
      Developer
    </h5>
    <a href="mailto:vgannamaneni3876@muleriders.saumag.edu"
      >vgannamaneni3876&#64;muleriders.saumag.edu</a
    >
  </div>

  <!-- Team Member 6 -->
  <div class="contact-item">
    <h5>
      Ganta, Rishika Reddy - QA Analyst &amp; Test Automation Engineer &amp;
      Technical Writer
    </h5>
    <a href="mailto:rganta4021@muleriders.saumag.edu"
      >rganta4021&#64;muleriders.saumag.edu</a
    >
  </div>
</div>
{% endblock %}
